<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./adjust-rem.js"></script>
    <script>
        Window.G = {
            BUILD_TIME: '<%= htmlWebpackPlugin.options.BUILD_TIME %>'
        }
    </script>
    <script>
        WIDGET = {
            CONFIG: {
                "layout": 2,
                "width": "230",
                "height": "270",
                "background": 1,
                "dataColor": "FFFFFF",
                "aqiColor": "FFFFFF",
                "borderRadius": 5,
                "key": "ec04864a3f1147e99477d15ab934c4c5"
            }
        }
    </script>
</head>
<body>
<div id="root"></div>

</body>
</html>
